body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0d1723;
    padding: 20px;
    text-align: center;
}
.header h2{
    color: aliceblue;
}

.header a{
    color: rgb(64, 93, 155);
    list-style-type: none;
}

.nav_menu {
    background-color: black;
    overflow: hidden;
}

.header_menu {
    display: flex;
    justify-content: center;
}

.header_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_menu li {
    float: left;
}

.header_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header_menu a:hover {
    background-color: #3a6fbe;
}

.search_container {
    display: flex;
    justify-content: center;
    margin:20px;
}

table {
    margin: auto;
    margin-top: 2%;
    border-collapse: collapse;
    background-color: lightgreen;
}

td, th {
    padding: 10px;
    text-align:  center;
}
