*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../anh/backgr/bgc.jpg');
    background-size: cover;
    background-attachment: fixed ;
}

.container{
    max-width: 960px;
    margin: 0px auto;
}

#header{
    width: 100%;
    height: 70px;
    background-color: #0d1723;
    /* position: sticky;
    top: 0; */
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.logo{
    max-width: 25vw;
    height: 10vh;
}

.brand{
    display: flex;
}

.navbar{
    display: flex;

}

#header-menu{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 3;
}

#header-menu li a{
    color: aliceblue;
    display: block;
    padding  : 20px 1.5vw;
    text-decoration: none;
}

.searchbox{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    /* background: white; */
}

.search{
    width: 30vw;
    height: 30px;
    /* border-radius: 25px; */
    border: none;
    margin-top: 17px;
    justify-items: center;
}

.button{
    background-color: white;
    width: 50px;
    height: 30px;
    margin-left: 440px;
    margin-top: -30px;
    
}

.search::placeholder{
    padding-left: 2%;
}

#header-menu li{
    position: relative;
    /* border-left: 2px solid white; */
}

#header-menu ul.sub-menu{
    position: absolute;
    background-color: #131921;
    padding: 15px 0px;
    font-size: 15px;
    list-style: none;
    width: 200px;
    display: none;
}

.avt img{
    margin-top: 52%;
    width: 35px;
    height:35px;
}

#header-menu ul.sub-menu a{
    width: 200px;
    height: auto;
    padding: 8px 15px;
    border-bottom: 1px solid rgb(83, 83, 83);
}

#header-menu ul.sub-menu li:hover a{
    border-bottom: 1px solid rgb(40, 40, 40); 
    color: rgb(0, 123, 255);
}

#header-menu li:hover ul.sub-menu{
    display: block;
}

.nav{
    justify-content: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    padding: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}